.paragraph-container {
  border: solid pink 1px;
}

.square {
  /* border: solid rgb(192, 255, 254) 1px; */
  overflow: hidden;
}

.word-container {
  display: flex;
  gap: 0.5vw;
  flex-wrap: nowrap;
}

.words {
  display: flex;
}

.test {
  border: solid white 1px;
}
