.page-container {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4vw;
  text-transform: uppercase;
  flex-direction: column;
}
