.animatedtext-container {
  display: flex;
  width: 50vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.page {
  display: flex;
  width: 100vw;
  height: 300vh;
  justify-content: center;
  align-items: center;
}
